<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>Invoice</h2>

    <p>Click the button below to download the invoice.</p>

    <form method="get" action="@Url.Action("DownloadInvoice", "Invoice")">
        <button type="submit" class="btn btn-primary">Download Invoice</button>
    </form>
</body>
</html>